.mimami img{
        width: 500px;
        height: 501px;
        margin-left:30%;
        margin-top: -60px;
        outline: 10px ridge goldenrod;
        
}
.titulo {
font-size:xx-large;
color: darkslategray;

}
.contenedor{
        background-color: beige;
}
.gris{
        width: 201px;
        height: 201px;
        border: 1px solid black;
        background-color: grey;
        position: absolute;
        top: 409px;
        left: 1px;
        
        }
        .gris img{
        width: 200px;
        height: 200px;

        }
 
        .gold{
        width: 201px;
        height: 202px;
        border: 1px solid black;
        background-color: rgb(221, 205, 184);
        position: absolute;
        left: 1135px;
        top: 0;
 } 
 .gold img{
width: 200px;
height: 200px;



 }

 .darkseagreen{
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background-color: darkseagreen; 
        position: absolute;    
        top:0;
        left: 1px;
 }
 .darkseagreen img{
width: 170px;
height: 170px;




 }
 
 .darkslateblue{
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background-color: darkslateblue; 
        position: absolute;
        top: 409px;
        left: 1141px;
 }
.darkslateblue img{
width: 200px;
height: 200px;


}






 .azul{
width:200px;
height: 200px;
border:10px solid rgba(13, 31, 78, 0.541);
background-color:blue;
position: absolute;
top: 30px;
left: 1140px; 

}
.azul img{
height: 200px;
width: 200px;





}
 .amarillo{
       width: 200px;
       height: 200px;
       border: 10px solid rgb(134, 134, 67);
       background-color: rgb(170, 101, 54);
       position: absolute;
       top: 30px;
       left: 0;

 }
 .amarillo img
 {
width: 185px;
height: 185px;
 }
 .rojo{
       width: 200px;
       height: 200px;
       border: 10px solid rgb(109, 20, 20);
       background-color: rgb(211, 0, 0);
       position:absolute;
      top: 370px; 
      left:1140px;

      }
 .rojo img{
width: 200px;
height: 200px;
 }
 .verde img{
       width:200px;
       height:200px;       
       background-color: rgb(19, 219, 29);
       position:absolute;
       top: 370px;
       left:0;
            border-radius: 5px ;
      }

 .calvo{
margin-left: 285px;
margin-top :55px;

 }














    





     
 